.notifications-container {
    width: 100%;
}

.notify {
    width: 100%;
    padding: 8px 16px;
}

.notify i {
    margin-right: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.error {
    background-color: #ef4a4a;
}

.info {
    background-color: #60db8f;
}

.warning {
    background-color: #dbb460;
}